*{
	margin:0px;
	padding:0px;
	list-style:none;
	text-decoration:none;
}
/*个人中心页面*/
/*我的收藏，资源库等位置的div*/
.listbox{
	position:absolute;
	top:90px;
	width:350px;
	height:310px;
	border:solid 2px rgb(125,125,125);
}

.list1{
	position:absolute;
	width:350px;
	height:100px;
	border-bottom:solid 1px rgb(46, 45, 45);
}

.list2{
	position:absolute;
	top:102px;
	width:350px;
	height:100px;
	border-bottom:solid 1px rgb(46, 45, 45);
}

.list3{
	position:absolute;
	top:204px;
	width:350px;
	height:100px;
}

.listbox p{
	position:absolute;
	width:350px;
	height:100px;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	line-height:100px;
	color:#333;
}

.listbox p:hover{
	background:#FFF;
	color:#F00;
}
	

/*个人中心搜索功能位置div*/
.psearchbox{
	position:absolute;
	top:90px;
	left:370px;
	width:826px;
	height:310px;
	border:solid 2px rgb(125,125,125);
}

/*搜索条件的资源名称*/
.pname{
	position:absolute;
	top:80px;
	left:220px;
	width:200px;
	height:35px;
}

.pname p{
	position:absolute;
	width:200px;
	height:35px;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	line-height:35px;
	color:#333;
}
/*搜索条件的资源名称搜索框*/
.pnamebox{
	position:absolute; 
	top:80px; 
	left:400px; 
	height:35px; 
	width:200px; 
	border:solid 1px #000000; 
	font-size:14px; 
	text-indent:1em; 
	line-height:35px;
}


/*个人搜索按钮*/
.psearch{
	position:absolute;
	top:200px;
	left:300px;
	width:100px;
	height:35px;
}

.pupload{
	position:absolute;
	top:200px;
	left:460px;
	width:100px;
	height:35px;
}

.uploadbox{
	position:absolute;
	top:200px;
	left:450px;
	width:350px;
	height:350px;
	border:2px solid #000;
	background-color: blanchedalmond;
	display:none;
	z-index:2;
}

/*结果*/
.resultbox{
	position:absolute;
	top: 440px;
	left: -200px;
	width:1600px;
	height:600px;
	border:solid 2px rgb(125,125,125);
}

.contents{
	position:absolute;
	width: 1600px;
	height: 40px;
	border-bottom: solid 1px rgb(125,125,125) ;
}

.contents p{
	text-align: center;
	line-height:40px;
	font-size:16px;
	font-weight:bold;
}


.name{
	position: absolute;
	height: 40px;
	width: 400px;
}

.introduction{
	position: absolute;
	left: 400px;
	height: 40px;
	width: 600px;
}

.category{
	position: absolute;
	left: 1000px;
	height: 40px;
	width: 200px;
}

.type{
	position: absolute;
	left: 1200px;
	height: 40px;
	width: 200px;
}

.count{
	position: absolute;
	left: 1400px;
	height: 40px;
	width: 100px;
}

.operate{
	position: absolute;
	left: 1500px;
	height: 40px;
	width: 100px;
}

/*结果显示*/
.result{
	position:absolute;
	top:41px;
	width:1600px;
	height:600px;
}

.result table td{
	height: 45px;
	line-height: 45px;
	border-bottom: solid 1px rgb(125,125,125);
}

